
body{
  background-color: #304040
}
.container{
  margin-top: 20%;
}


.boton-play{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  font-size: large;
  color: #EB8A3E;

}

h1{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  font-size:300%;
  font-family: monospace;
}

h3{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  color:#5B7065;
}

.table{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.titulo{
  background-color: #C9D1C8;
}